#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Instrument Serif", sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.9)) , url("/public/masjid-merdeka-malaysia.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.the-quote {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.border-cyan {
  border: 2px solid red !important;
}